{% extends "base.html" %}
{% load i18n %}
{% block title %}Password change{% endblock title %}

{% block content %}
    <section style="padding-bottom: 32px" id="contentSection">
       <div class="mx-auto max-w-md my-6 shadow rounded p-8">
        <h1 class="text-2xl text-[#d083cf]">{% translate "Change password" %}</h1>
        <form class="mt-4 space-y-2" method="post">{% csrf_token %}
            <div class="flex flex-col">
                <label for="id_old_password">{% translate 'Old password' %}</label>
                <input class="border mt-1 outline-none p-2 focus:border-[#d083cf] rounded" type="password"
                       name="old_password" autocomplete="current-password" autofocus="" required=""
                       id="id_old_password">
            </div>
            <div class="flex flex-col">
                <label for="id_new_password1">{% translate 'New password' %}</label>
                <input class="border mt-1 outline-none p-2 focus:border-[#d083cf] rounded" type="password"
                       name="new_password1" autocomplete="new-password" required=""
                       aria-describedby="id_new_password1_helptext" id="id_new_password1">
            </div>
            <div class="flex flex-col">
                <label for="id_new_password2">{% translate 'Confirm password' %}</label>
                <input class="border mt-1 outline-none p-2 focus:border-[#d083cf] rounded" type="password"
                       name="new_password2" autocomplete="new-password" required=""
                       id="id_new_password2">
            </div>
            <div class="flex space-x-2 justify-end">
                <a class="cursor-pointer px-6 mt-2 py-2 bg-gray-100 text-gray-500 rounded" href="{% url 'landing_page' %}">{% translate 'Cancel' %}</a>
                <button class="px-6 mt-2 text-white py-2 bg-[#d083cf] rounded" type="submit">{% translate 'Submit' %}</button>
            </div>
        </form>
       </div>
    </section>
{% endblock content %}