{% extends "base.html" %}
{% load i18n %}
{% block title %}Reset password{% endblock title %}

{% block content %}
<section style="padding-bottom: 32px"  id="contentSection">
    <h1>{% translate "Link for resetting password was sent to your email address" %}</h1>
    <a class="mt-4 inline-block hover:text-[#d083cf] hover:underline text-sm underline text-[#d083cf]" href="{% url "landing_page" %}">{% translate "Back home" %}</a>
    <a class="mt-4 inline-block ml-2 hover:text-[#d083cf] hover:underline text-sm underline text-[#d083cf]" href="{% url "login_page" %}">{% translate "Login" %}</a>
</section>
{% endblock content %}